{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Podrobnosti spomenika</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Partizanski spomeniki</a>
    </nav>

    <div class="container mt-5 pt-5">
        <h1>{{ model_name }}  {{entry.fid}}</h1>
        <p><strong>Opis:</strong> {{ marker.description }}</p>
        <p><strong>Lokacija:</strong> {{ marker.latitude }}, {{ marker.longitude }}</p>
        <a href="/" class="btn btn-primary">Nazaj na zemljevid</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in fields.items %}
            <tr>
                <td>{{ field }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>